.map-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  // La dimensione è già definita inline, ma puoi sovrascriverla qui
  // height: 250px;
}