// Importa Bootstrap SCSS (dalla cartella node_modules)
@import "bootstrap/scss/bootstrap";

// Importa CSS di Leaflet
@import "leaflet/dist/leaflet.css";

// Importa CSS di ngx-toastr
@import 'ngx-toastr/toastr';


// Variabili globali CSS
:root {
  --site-primary: #FFA500;
  --site-dark: #1C1B26;
  --site-light: #F8F8F8;
  --site-cream: #FFF8E1;
}

// Stili globali
html, body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: var(--site-light);
  margin: 0;
}
